/* file styles.css */
body {
    background-color: #F7EFE5; /* Ganti dengan warna yang diinginkan */
}

.footer {
    background-color: #B0B0B0;
    color: #000;
    font-family: 'Arial', sans-serif; /* Ganti font-family sesuai kebutuhan */
    font-size: 12px; /* Ganti ukuran font sesuai kebutuhan */
}


.container .text-center {
    font-size: 60px;
}


