
body {
    background-color: #F7EFE5; 
}

.footer .container{
    color: #000;
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
}


/* .container .text-center {
    font-size: 60px;
} */


/* .container .text-center .p{
    font-size: 12px;
} */

